:root {
    /**
    *  colors
    */
    --light-steel-blue: hsl(218, 33%, 77%);
    --royal-blue-light: hsl(225, 68%, 53%);
    --flickr-blue_30: hsla(225, 68%, 53%, 0.3);
    --carolina-blue: hsl(201, 92%, 47%);
    --oxford-blue-1: hsl(218, 70%, 18%);
    --oxford-blue-2: hsl(217, 100%, 12%);
    --oxford-blue-3: hsl(218, 71%, 11%);
    --gainsboro_50: hsla(0, 0%, 85%, 0.5);
    --lavender-web: hsl(225, 67%, 91%);
    --sonic-silver: hsl(0, 0%, 47%);
    --light-gray: hsl(0, 0%, 84%);
    --cultured: hsl(0, 0%, 97%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_8: hsla(0, 0%, 0%, 0.08);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --jet: hsl(0, 0%, 20%);

    /**
    * gradient color
    */

    --gradient: linear-gradient( 90deg, var(--carolina-blue) 0%, var(--royal-blue-light) 100%);

    /**
    * typography
    */
    --ff-roboto: "Roboto", sans-serif;
    --ff-poppins: "Poppins", sans-serif;

    --fs-1: 4rem;
    --fs-2: 3.6rem;
    --fs-3: 3.2rem;
    --fs-4: 2.4rem;
    --fs-5: 2.2rem;
    --fs-6: 1.8rem;
    --fs-7: 1.6rem;

    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;

    /**
    * spacing
    */
    --section-padding: 120px;

    
    /**
    * shadow
    */

    --shadow-1: 4px 4px 15px var(--black_10);
    --shadow-2: 0 10px 15px var(--black_10);
    --shadow-3: 0px 20px 60px var(--black_8);
    --shadow-4: 0px 10px 30px var(--flickr-blue_30);
    --shadow-5: 0px 2px 60px 0px var(--black_10);

      /**
    * border radius
    */
    --radius-6: 6px;
    --radius-4: 4px;

       /**
    * transition
    */
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style: none;}

a {
    text-decoration: none;
    color: inherit;
}

a,
img,
span,
input,
button,
ion-icon { display: block;}

img { height: auto; }

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input { width: 100%;}

button {cursor: pointer;}

ion-icon {pointer-events: none;}

address { font-style: normal;}

html {
    font-family: var(--ff-roboto);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--sonic-silver);
    font-size: 1.5rem;
    height: 300vh;
}

.container {padding-inline: 25px; }



.header-top,
.header-bottom .btn {display: none;}

.header-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 15px;
    z-index: 4;
}

.header-bottom.active {
    position: fixed;
    top: -81px;
    background-color: var(--white);
    box-shadow: var(--shadow-2);
    animation: slideIn 0.5s var(--cubic-out) forwards;
}

@keyframes slideIn {
    0%{transform: translateY(0);}
    100%{transform: translateY(100%);}

}

.header-bottom > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo {
    color: var(--oxford-blue-1);
    font-family: var(--ff-poppins);
    font-size: 3.4rem;
    font-weight: var(--fw-800);
}
.nav-toggle-btn {
    color: var(--black);
    font-size: 30px;
    border: 1px solid var(--black);
    padding: 5px;
}

.nav-toggle-btn.active .menu-icon,
.nav-toggle-btn .close-icon {display: none;}

.nav-toggle-btn .menu-icon,
.nav-toggle-btn.active .close-icon {display: block;}

.navbar {
    position: absolute;
    top: calc(100% + 5px);
    left: 25px;
    right: 25px;
    background-color: var(--white);
    padding-inline: 0;
    box-shadow: var(--shadow-1);
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0.25s var(--cubic-out);
}

.navbar.active {
    visibility: visible;
    max-height: 244px;
    transition-duration: 0.5s;
}

.navbar-list > li:not(:last-child) { border-block-end: 1px solid var(--gainsboro_50);}

.navbar-link {
    color: var(--jet);
    text-transform: uppercase;
    font-weight: var(--fw-600);
    padding: 15px;
}